extends layout

block layout-content
  div.View.UserView
    h1.Banner AlgaeCal QA Developer Test
    div.Message
      div.Title
        h1 Shopping Cart
        h3
            table(cellpadding="20")
                thead
                    tr
                        th(align="left") Description
                        th(align="left") Price
                        th(align="left") Quantity
                        th(align="left") Extended
                tbody
                    each cartItem in cartInfo.cartItems
                        tr
                            td= cartItem.itemDescription
                            td= cartItem.price
                            td= cartItem.quantity
                            td= cartItem.extended
                tfoot
                    tr
                        td(colspan="2")
                        td Order Total $
                        td #{cartInfo.total}

    //div.NavButtons
      //a(href="/empty_cart")
        //div.NavButton Empty Cart

    div.NavButtons
      a(href="/")
        div.NavButton Back